@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

/*--------------
  GLOBAL STYLES
 -------------- */

:root {
  font-size: 12px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(220, 70%, 97%);
}

/*--------------
    TYPOGRAPHY
 -------------- */

h1,
h2,
p {
  color: white;
  text-shadow: 0.05em 0.05em #0e4d6d;
}

h1,
h2 {
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
}

p {
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0 0 0 0;
  letter-spacing: 0.12rem;
}

/*--------------
     LAYOUT
 -------------- */

.container {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 234px;
  height: auto;
  width: 35rem;
  transition: all 0.5s ease-in-out;
}

.btn {
  width: 3em;
  height: 3em;
  bottom: 0;
  position: fixed;
  margin-bottom: 1em;
  z-index: 100;
  border: none;
  background: url("./images/chevron-icon.svg") no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  color: transparent;
  transition: transform 0.5s ease-in-out;
}

.btn.collapsed {
  transform: rotate(180deg);
}

/* --- HEADER --- */

header {
  width: 100%;
}

.banner,
.banner-img {
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* --- HERO SECTION --- */

.hero {
  font-size: 2rem;
  margin-top: 2rem;
}

.hero p {
  font-size: 1.3rem;
}

.hero .line {
  background-color: rgba(255, 255, 255, 0.5);
}

/* --- COLLAPSIBLE --- */

.collapsible {
  height: auto;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.collapsible.collapsed {
  height: 0;
}

.collapsible > h2 {
  margin: 0.5 0 0.5em 0;
  font-size: 2rem;
  text-align: center;
  color: rgb(14, 77, 110);
}

.collapsible .line {
  margin-top: 2em;
  margin-bottom: 0.5em;
  height: 0.03em;
  background-color: rgba(0, 0, 0, 0.2);
}

/* --- CARDS --- */

.cards {
  height: auto;
  transform-origin: top;
  position: relative;
  width: 100%;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-day {
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  pointer-events: none;
  padding: 1em;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.card-date {
  position: relative;
}

.card-picture {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card-image {
  filter: blur(1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease-out;
}

.card-picture:hover img {
  transform: scale(1.1);
}

.card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 12em black;
  z-index: 1;
}

/* --- SCROLLBAR --- */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: hsl(220, 30%, 85%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgb(231, 30, 100), rgb(159, 39, 173));
  border-radius: 1em;
}
